INSIGHTS:
  ID: "01827c5d-dbde-4fd5-bd57-53859ff44edb"
CI:
  DOCKER_IMAGE_NAME: "outreach-rule-processor"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/IBM-WH-ENGMNT/common-umbrella.git"
  REGISTRY_NAMESPACE: "cdt-provider-engmnt-rns"
  POLICY_NAME: "CI"
  NOLATEST: "true"
  NOBUILD: "false"
  SONARQUBE_VERSION: "v1.0.2"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "outreach-rule-processor"
  SERVICENOW_SERVICENAME: "wh-itops-test"
  TILLERSERVICEACCOUNTDISABLE: "true"
  RELEASE_NAME_NO_GIT_BRANCH: "true"
  
CT:
  POLICY_NAME: "CT"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
ASOC:
  ASOC_APP_NAME: "outreach-rule-processor"
  KEY_ID: "bb9c9ecf-6249-5525-b04d-05c9311784ba"
