INSIGHTS:
  ID: "f1d7cab7-d38a-4151-a285-e88433a9bfc0"
CI:
  DOCKER_IMAGE_NAME: "hello-world"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/modern-poc/modern-poc-umbrella.git"
  REGISTRY_NAMESPACE: "cdt-provider-engmnt-rns"
  POLICY_NAME: "CI"
  NOLATEST: "true"
  NOBUILD: "false"
CD: 
  POLICY_NAME: "CD"
  APP_NAME: "hello-world"
  SERVICENOW_SERVICENAME: "wh-itops-test"
  TILLERSERVICEACCOUNTDISABLE: "true"  
CT: 
  POLICY_NAME: "CT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PROCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
