<?xml version="1.0" encoding="UTF-8"?>
<settings
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
	xmlns="http://maven.apache.org/SETTINGS/1.1.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<servers>
		<server>
			<username>${JFROG-USERNAME}</username>
			<password>${JFROG-APIKEY}</password>
			<id>central</id>
		</server>
		<server>
			<username>${JFROG-USERNAME}</username>
			<password>${JFROG-APIKEY}</password>
			<id>snapshots</id>
		</server>
	</servers>
	<profiles>
		<profile>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>maven</id>
					<name>maven-apache-org</name>
					<url>https://repo.maven.apache.org/maven2</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>central</id>
					<name>wh-phytel-unicorn-team-maven-local</name>
					<url>https://na.artifactory.swg-devops.com:443/artifactory/wh-phytel-unicorn-team-maven-local</url>
				</repository>
				<repository>
					<snapshots />
					<id>snapshots</id>
					<name>wh-phytel-unicorn-team-maven-local</name>
					<url>https://na.artifactory.swg-devops.com:443/artifactory/wh-phytel-unicorn-team-maven-local</url>
				</repository>
			</repositories>
			<id>artifactory</id>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>artifactory</activeProfile>
	</activeProfiles>
</settings>