INSIGHTS:
  ID: "de97e37b-aa4e-4b60-9141-2276f39406e1"
CI:
  DOCKER_IMAGE_NAME: "hello-world"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/Rajan-Gupta/helloworld-UMBRELLA.git"
  REGISTRY_NAMESPACE: "cdt-provider-engmnt-rns"
  POLICY_NAME: "CI"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "jhelloworld"
  SERVICENOW_SERVICENAME: "wh-itops-test"
CT:
  POLICY_NAME: "CT"
COT:
  POLICY_NAME: "COT"
STAGECD:
  POLICY_NAME: "STAGECD"
STAGECVV:
  POLICY_NAME: "STAGECVV"
PRODCD:
  POLICY_NAME: "PRODCD"
PRODCGL:
  POLICY_NAME: "PRODCGL"
